
@mixin tablet {
	@media (min-width: 768px){
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1280px){
		@content;
	}
}


@mixin setPadding {
    padding: 0 1rem;
}

@mixin setPadding_tablet{
    padding: 0 1.25rem;
}

@mixin setPadding_desktop {
    padding: 0 9rem;
}

@mixin address{
	font-style: normal;
    font-size: 0.8rem;
	padding: 0 0 1rem 0;
}

@mixin inactive{
	color: $ternary_color;
}

@mixin subHeader{
	
}