
@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1280px) {
		@content;
	}
}

@mixin setPadding {
    padding: 0 1rem;
}

@mixin setPadding_tablet{
    padding: 0 1.25rem;
}

@mixin setPadding_desktop {
    padding: 0 9rem;
}
