$primary_color : #323232;
$secondary_color : #000000;
$alternative_background_color: #FAFAFA;
$primary_text_color: #FFFFFF;
$secondary_text_color : #AFAFAF;
$ternary_color: #E1E1E1;
$user_Error : #D22D2D;