@font-face {
  font-family: "Avenir Next LT Pro-Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro-Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro-Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next LT Pro-Regular";
  font-size: 1rem;
  margin: 0;
  font-size: 100%;
}

.set-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__navbar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .header__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0 2rem;
  }
}
.header__menu {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .header__menu--item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    font-size: 1.2rem;
  }
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.footer-container {
  padding: 15px;
  background-color: #323232;
  color: white;
}

.footer__contact-item {
  padding-top: 1rem;
}

.footer__social--icon {
  height: 1.5rem;
}

.footer__contact-item--subtitle {
  padding-bottom: 1rem;
}
.footer__contact-item--address-bottom {
  padding-bottom: 0.5rem;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/hero-bio.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    height: 80vh;
    background-size: cover;
  }
}

.hero__title {
  color: white;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .about__title {
    font-size: 2rem;
  }
}
.about__image--container {
  display: flex;
  justify-content: center;
}
.about__image {
  height: 30vh;
}
@media (min-width: 768px) {
  .about__image {
    height: 65vh;
  }
}
@media (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
  }
}
.about__quote {
  font-family: "Avenir Next LT Pro-Demi";
  font-weight: bolder;
  font-size: 0.9rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.5px;
  }
}
.about__quote--author {
  font-weight: bolder;
}
.about__subtitle {
  font-family: "Avenir Next LT Pro-Demi";
  font-weight: 800;
}
@media (min-width: 768px) {
  .about__paragraph--container {
    display: flex;
    line-height: 2rem;
  }
}
.about__paragraph {
  padding: 0 1rem;
}

.photo_gallery {
  background-color: #FAFAFA;
  padding-top: 10px;
}

.photo-gallery__item {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
}/*# sourceMappingURL=bio.css.map */