@use './partials/global' as*;
@use './partials/mixins' as *;
@use './partials/variables' as *;

.hero {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../assets/images/hero-bio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 12rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    @include setPadding();

    @include tablet {
        height: 30rem;
        background-size: cover;
    }

    @include desktop {
        height: 50vw;
        background-size: cover;
    }
}

.hero__title {
    font-family: 'Avenir Next LT Pro-Bold';
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary_text_color;

    @include tablet {
        @include setPadding_tablet();
        font-size: 3.75rem;
    }

    @include desktop {
        @include setPadding_desktop();
    }
}

.about {
    @include setPadding();

    @include desktop {
        @include setPadding_desktop();
    }

    &__title {
        padding: 1rem 0 0.5rem 0;
        line-height: 2rem;

        @include tablet {
            padding: 3rem 1.25rem 2.2rem 1.25rem;
            font-size: 2.25rem;
        }
    }

    &__image--container {
        display: flex;
        justify-content: center;

        @include tablet {
            padding: 0rem 5rem 1rem 5rem;
        }

        @include desktop {
            padding: 0rem 6rem 2rem 6rem;
        }
    }

    &__image {
        width: 100%;
        object-fit: fill;
    }

    &__container {
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem 5rem 2rem 5rem;
        }

        @include desktop {
            padding: 0rem 6rem 2rem 6rem;
        }
    }

    &__quote {
        font-family: "Avenir Next LT Pro-Demi";
        font-size: 0.9rem;
        line-height: 1.4rem;
        padding: 1rem 0 1rem 0;

        @include tablet {
            font-size: 1.3rem;
            line-height: 1.5rem;
            letter-spacing: 0.5px;
        }

        @include desktop {
            padding: 0 8rem 0 0;
            line-height: 2rem;
        }

        &--author {
            font-weight: 800;
            font-size: 0.9rem;
            padding: 0 0 1rem 0;

            @include desktop {
                font-size: 1.1rem;
                padding: 1rem 0 1rem 0;
            }
        }
    }

    &__subtitle {
        font-family: 'Avenir Next LT Pro-Regular';
        font-size: 1rem;
        line-height: 1.3px;
        letter-spacing: 0.5px;
        padding: 2rem 0 1.5rem 0;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__paragraph--container {
        font-family: 'Avenir Next LT Pro-Regular';

        @include tablet {
            display: flex;
        }
    }

    &__paragraph {
        padding: 0 .5rem 1rem 0;
        font-size: 0.8rem;
        line-height: 1.1rem;

        @include tablet {
            font-size: 0.8rem;
            line-height: 1.3rem;
            letter-spacing: .2px;
        }
    }
}

.photo__gallery {
    @include setPadding();
    background-color: $alternative_background_color;
    padding-top: 10px;

    @include desktop {
        @include setPadding_desktop();
    }

    &--header {
        padding: 1rem 0 0.5rem 0;
        line-height: 2rem;

        @include tablet {
            padding: 3rem 1.25rem 1.5rem 1.25rem;
            font-family: 'Avenir Next LT Pro-Demi';
        }
    }

    &--container {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 0 2rem 0;
        }
    }

    &__item {
        cursor: pointer;
        width: 100%;
        padding: 0 0 1rem 0;

        @include tablet {
            padding: 1rem 1rem 0 0;
            width: 30vw;
            max-width: 30vw;
        }

        @include desktop {
            width: 25vw;
            max-width: 25vw;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.3s ease;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }
    }
}

.form__header {
    @include setPadding();
    line-height: 2rem;
    padding-top: 20px;

    @include tablet {
        padding: 2rem 2rem 1rem 2rem;
    }

    @include desktop {
        @include setPadding_desktop();
        font-family: "Avenir Next LT Pro-Demi";
    }

    &--title {
        @include desktop {
            padding: 3rem 1.25rem 1.5rem 1.25rem;
            font-family: "Avenir Next LT Pro-Demi";
        }
    }
}

.form__comments {
    display: flex;
    padding: 1rem;

    @include tablet {
        padding: 0 5rem;

    }

    @include desktop {
        padding: 0 24rem;
    }

    &-image {
        padding-top: 2rem;
    }

    &--userImage {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        background-color: $ternary_color;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--userinput {
        flex: 1;
    }

    &--input {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 1rem 1rem;
    }

    &--input-box {
        border: 1px solid $ternary_color;
        border-radius: 4px;
        padding: 0.75rem;
        background-color: $alternative_background_color ;

        @include tablet{
            padding: 1rem;
        }
    }
}

.align-button {
    @include tablet {
        flex-wrap: wrap;
        align-content: flex-end;
    }
}

.button {
    cursor: pointer;
    text-transform: uppercase;
    align-items: center;
    color: #FFFFFF;
    background-color: $primary_color;
    height: 2.5rem;
    justify-content: center;
    border-radius: 4px;

    @include tablet {
        width: 150px;
        padding: 0 32px;

    }
    &:hover{
        background-color: $secondary_color;
    }
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $secondary_text_color;
    padding-bottom: 0.5rem;
}

::placeholder {
    color: $primary_color;
}

#username {
    height: 36px;
    @include tablet{
        height: 48px;
    }
}

.user-error {
    border: 2px solid $user_Error;
}

.comments {
    padding: 1rem;

    @include tablet {
        padding: 2rem 5rem;
    }
    @include desktop{
        padding: 2rem 24rem;
    }
}

.comment__user {
    display: flex;
    font-size: 0.9rem;
    border-top: 1px solid #E1E1E1;
    padding: 1rem 0;
    border-bottom: 1px solid #E1E1E1;

    &--image-cont {
        padding-right: 1rem;
    }

    &--image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $ternary_color;
    }

    &--comment-cont {
        max-width: 100%;
        overflow: hidden;
        word-wrap: break-word;
    }

    &--name-cont {
        display: flex;
    }

    &--name {
        width: 50%;
    }

    &--date {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        width: 100vw;
    }

    &--comment {
        padding: 1rem 0;
    }
}

.formError {
    display: flex;
    flex-direction: column;
    color: $user_Error;
    padding: 0 1rem 0;
    font-weight: bold;
    font-size: 12px;
}




.comment__user--like-cont{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.comment__user--like{
    // height: 1rem;
    // background-image: url('../assets/icons/SVG/icon-like.svg'); 
    // background-repeat: no-repeat;
    cursor: pointer;
}

.comment__user--delete{
    cursor: pointer;
}