@use './partials/global' as*;
@use './partials/mixins' as *;
@use './partials/variables' as *;

@mixin set_height_width ($height, $width) {
    height: $height;
    width: $width;
}

.hero {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../assets/images/hero-bio.jpg'); /* #323232 with 50% opacity on top of the background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // height: 50vh;
    // width: 100%;    
    height: 12rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    @include setPadding();

    @include tablet {
        // height: 80vh;
        height: 30rem;
        background-size: cover;
    }

    @include desktop {
        // height: 100vh;
        height: 50vw;
        background-size: cover;
    }

}

.hero__title {
    font-family: 'Avenir Next LT Pro-Bold';
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary_text_color;
    @include tablet {
        @include setPadding_tablet();
        font-size: 3.75rem;
    }
    @include desktop {
        @include setPadding_desktop();
    }
}

.about {
    @include setPadding();
    @include desktop {
        @include setPadding_desktop();
    }
    &__title {
        padding: 1rem 0 0.5rem 0;
        line-height: 2rem;
        @include tablet {
            padding: 3rem 1.25rem 2.2rem 1.25rem;
            font-size: 2.25rem;
        }
    }
    &__image--container {
        display: flex;
        justify-content: center;
        @include tablet {
            padding: 0rem 5rem 1rem 5rem;
        }
        @include desktop {
            padding: 0rem 6rem 2rem 6rem;
        }
    }
    &__image {
        // height: 30vh;
        width: 100%;
        object-fit: fill;
        // height: 2vh;
    }
    &__container {
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem 5rem 2rem 5rem;
        }
        @include desktop {
            padding: 0rem 6rem 2rem 6rem;
        }
    }
    &__quote {
        font-family: "Avenir Next LT Pro-Demi";
        font-size: 0.9rem;
        line-height: 1.4rem;
        padding: 1rem 0 1rem 0;

        @include tablet {
            font-size: 1.3rem;
            line-height: 1.5rem;
            letter-spacing: 0.5px;
        }

        @include desktop {
            padding: 0 8rem 0 0;
            line-height: 2rem;

        }
        &--author {
            font-weight: 800;
            font-size: 0.9rem;
            padding: 0 0 1rem 0;
            @include desktop{
            font-size: 1.1rem;
            padding: 1rem 0 1rem 0;
            }
        }
    }
    &__subtitle {
        font-family: 'Avenir Next LT Pro-Regular';
        font-size: 1rem;
        line-height: 1.3px;
        letter-spacing: 0.5px;
        padding: 2rem 0 1.5rem 0;        
        @include tablet {
            font-size: 1.5rem;
        }
    }
    &__paragraph--container {
        font-family: 'Avenir Next LT Pro-Regular';
        @include tablet {
            display: flex;
        }
    }
    &__paragraph {
        padding: 0 .5rem 1rem 0;
        font-size: 0.8rem;
        line-height: 1.1rem;
        @include tablet {
            font-size: 0.8rem;
            line-height: 1.3rem;
            letter-spacing: .2px;
        }
    }
}
.photo__gallery {
    @include setPadding();
    background-color: #FAFAFA;
    padding-top: 10px;

    @include desktop {
        @include setPadding_desktop();
    }
    &--header {
        padding: 1rem 0 0.5rem 0;
        line-height: 2rem;
        @include tablet {
            padding: 3rem 1.25rem 2.2rem 1.25rem;
            font-family: 'Avenir Next LT Pro-Demi';
            width: 85%;
        }

    }
    &--container {
        
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 0 2rem 0;
        }
    }
    &__item {
        cursor: pointer;
        width: 100%;
        padding: 0 0 1rem 0;
        @include tablet {
            padding: 1rem 1rem 0 0;
            height: 22vh;
            width: 30vw;
        }
        @include desktop {
            height: 22vh;
            width: 25vw;
        }
    }   
    &:hover{
    @include greyScaleHover ();}
       

}

// .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.5);
//     opacity: 0;
//     transition: opacity 0.3s ease;
// }
// .photo__gallery__item:hover .overlay {
//     opacity: 50;
// }




.photo__gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.photo__gallery__container--item {
    cursor: pointer;
    overflow: hidden;
}

.photo__gallery__container--image {
    width: 18rem;
    padding: 0 0 1rem 0;

    object-fit: fill;
    overflow: hidden;

    @include tablet{
        width: 14.5rem;
    padding: 0 1em 1rem 0;    
    }

    @include desktop{
        width: 20.2rem;
    }
}


.photo__gallery__container--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo__gallery__container--image:hover .photo__gallery__container--overlay {
    opacity: 0.3;
}