@font-face {
  font-family: "Avenir Next LT Pro-Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro-Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro-Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next LT Pro-Regular";
  font-size: 1rem;
  margin: 0;
  font-size: 100%;
}

.set-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__navbar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .header__navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
  }
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 1rem 4rem 1rem 2rem;
  }
}
.header__menu {
  display: flex;
  justify-content: space-around;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .header__menu--item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    font-size: 1.2rem;
  }
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.footer-container {
  padding: 15px;
  background-color: #323232;
  color: white;
}

.footer__contact-item {
  padding-top: 1rem;
}

.footer__social--iconimages {
  height: 2rem;
  padding-right: 2rem;
}

.footer__contact {
  padding: 1rem 0rem 3rem 0rem;
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.footer__contact-item {
  margin-right: 1rem;
}
.footer__contact-item--subtitle {
  font-family: "Avenir Next LT Pro-Regular";
  padding: 0 0 1rem 0;
  font-weight: 300;
  line-height: 1.5rem;
}
.footer__contact-item--address-top {
  font-size: 1rem;
}
.footer__contact-item--address-bottom {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .footer__contact-item--address-bottom {
    margin: 0 0 2rem 0;
  }
}

.footer__social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.footer__social--header {
  padding-right: 3rem;
}

@media (min-width: 768px) {
  .footer__social--top {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
}

.footer__social--icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer__social--icons {
    padding-right: 5rem;
  }
}

.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: flex;
  }
}

.footer__copyright--statement {
  font-size: x-small;
}
@media (min-width: 768px) {
  .footer__copyright--statement {
    font-size: medium;
  }
}

@media (min-width: 768px) {
  .footer__copyright--logo-container {
    display: none;
  }
}

.footer__copy--logo {
  height: 1.5rem;
}
@media (min-width: 768px) {
  .footer__copy--logo {
    display: none;
  }
}

.box1 {
  display: flex;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/hero-bio.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    height: 80vh;
    background-size: cover;
  }
}

.hero__title {
  color: white;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .about__title {
    font-size: 2rem;
    padding: 0 1rem;
  }
}
.about__image--container {
  display: flex;
  justify-content: center;
}
.about__image {
  height: 30vh;
}
@media (min-width: 768px) {
  .about__image {
    height: 65vh;
  }
}
@media (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
  }
}
.about__quote {
  font-family: "Avenir Next LT Pro-Demi";
  font-weight: bolder;
  font-size: 0.9rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.5px;
  }
}
.about__quote--author {
  font-weight: bolder;
}
.about__subtitle {
  font-family: "Avenir Next LT Pro-Regular";
  /* font-weight: 800; */
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  .about__subtitle {
    font-size: 1.5rem;
  }
}
.about__paragraph--container {
  font-family: "Avenir Next LT Pro-Regular";
}
@media (min-width: 768px) {
  .about__paragraph--container {
    display: flex;
  }
}
.about__paragraph {
  padding-right: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
@media (min-width: 768px) {
  .about__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
  }
}
.photo__gallery {
  background-color: #FAFAFA;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .photo__gallery--header {
    padding: 1rem 1rem 0 1rem;
    font-family: "Avenir Next LT Pro-Demi";
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) {
  .photo__gallery--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.photo__gallery__item {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .photo__gallery__item {
    height: 25vh;
    width: 32vw;
  }
}/*# sourceMappingURL=bio.css.map */