@use './partials/mixins' as *;
@use './partials/typography' as*;

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next LT Pro-Regular';
    font-size: 1rem;
    margin: 0;
    font-size: 100%;
}
h1,
h2,
h3,
p{
    margin:0;
}

.header {

    &__navbar {
        background-color: #323232;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            width: 100%;
        }
    }
    &__logo {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 1rem 0;
        @include tablet() {
            padding: 1rem 4rem 1rem 2rem;
        }

        &--item {
            height: 1.4rem;
        }

    }
    &__menu {
        display: flex;
        text-align:center;
        justify-content: space-evenly;
        &--active{
            width: 50%;
            height: 6vh;
            border-bottom: 3px solid white;
            padding : 0 0 0.5rem 0;

            @include desktop{
                height: 5vh;
            }
        }
        &--inactive{
            width: 50%;
            @include tablet{
                margin: 0   0   0   3rem;
            }
        }
    }
    &--item {
        @include tablet {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5rem;
        font-size: 1rem;
        }
    }
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.header__menu--item:hover { 
    color: white;
    font-weight: bold;
}

.header__menu--item--highlight {
    border-bottom: 4px solid white;
    padding-bottom: 9px;
}
.navbar {
    display: flex;
    flex-direction: column;
}

.footer-container {
    background-color: #323232;
    color: white;
    @include setPadding();
    @include tablet {
        padding: 0 1.5rem 2rem 1.5rem;
    }
    @include desktop {
        @include setPadding_desktop();
    }
}

.footer__contact-item {
    padding-top: 1rem;
}

.footer__social--iconimages {
    height: 1.4rem;
    padding-right: 2rem;
}

.footer__contact {
    @include tablet {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        justify-content: flex-start;
    }
    &-item {
        margin-right: 0.8rem;
        &--subtitle {
            font-family: 'Avenir Next LT Pro-Regular';
            padding: 0 0 1rem 0;
            font-size: 0.9rem;
            line-height: 0.8rem;
        }
        &--address {
            font-size: 0.8rem;
        }
        &--address-bottom {
            margin: 0 0 1rem 0;
            font-size: 0.8rem;
            @include tablet {
                margin: 0 0 2rem 0;
            }
        }
    }
}

.footer__social--header{
    padding : 1.5rem 0 1rem 0;
    font-size:2rem;
}
.footer__social {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

.footer__social--header {
    padding-right: 3rem;
}

.footer__social--top {
    @include tablet {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
    }
}

.footer__social--icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include tablet {

        padding-right: 5rem;
    }
}

.footer__logo {
    display: none;

    @include tablet {
        display: flex;
    }
}

.footer__copyright--statement {
    font-size: x-small;
    margin: 0;
    padding: 1rem 0;
    @include tablet {
        font-size: medium;
    }
}

.footer__copyright--logo-container {
    padding-top: 3rem;
    @include tablet {
        display: none;
    }
}

.footer__copy--logo {
    height: 1.5rem;
    @include tablet {
        display: none;
    }
}