@font-face {
  font-family: "Avenir Next LT Pro-Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro-Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro-Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next LT Pro-Regular";
  font-size: 1rem;
  margin: 0;
  font-size: 100%;
}

.header__navbar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .header__navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
  }
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 1rem 4rem 1rem 2rem;
  }
}
.header__logo--item {
  height: 1.4rem;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  padding: 0 0 1rem 0;
  color: azure;
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .header__menu--item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    font-size: 1rem;
  }
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.header__menu--item:hover {
  color: white;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.footer-container {
  background-color: #323232;
  color: white;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .footer-container {
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .footer-container {
    padding: 0 9rem;
  }
}

.footer__contact-item {
  padding-top: 1rem;
}

.footer__social--iconimages {
  height: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.footer__contact-item {
  margin-right: 0.8rem;
}
.footer__contact-item--subtitle {
  font-family: "Avenir Next LT Pro-Regular";
  padding: 0 0 1rem 0;
  font-weight: 300;
  line-height: 1.5rem;
}
.footer__contact-item--address-top {
  font-size: 1rem;
}
.footer__contact-item--address-bottom {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .footer__contact-item--address-bottom {
    margin: 0 0 2rem 0;
  }
}

.footer__social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.footer__social--header {
  padding-right: 3rem;
}

@media (min-width: 768px) {
  .footer__social--top {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
}

.footer__social--icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer__social--icons {
    padding-right: 5rem;
  }
}

.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: flex;
  }
}

.footer__copyright--statement {
  font-size: x-small;
  margin: 0;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__copyright--statement {
    font-size: medium;
  }
}

.footer__copyright--logo-container {
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .footer__copyright--logo-container {
    display: none;
  }
}

.footer__copy--logo {
  height: 1.5rem;
}
@media (min-width: 768px) {
  .footer__copy--logo {
    display: none;
  }
}

.box1 {
  display: flex;
}/*# sourceMappingURL=global.css.map */